@media (max-width: 1024px) {

  .footer__copy {
  margin-right: 5px;}

  .services__item {
  padding: 30px 15px;}

  .header__nav {
   width: 60%;
   margin-right: 1%;}

   .nav__item:not(:last-child) {
    margin-right: 4.5%;}

  .form-input {
    width: 100%;
  }

  .form-input:nth-child(3) {
    margin-bottom: 19px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: var(--gap);
  }

  .nav__item:not(:last-child) {
    margin-right: 52px;
}

}

@media (max-width: 992px) {

  .header__nav {
    display: none;
  }

  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    padding: 13px 10px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172B9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:first-child {
    top: 13px;
  }

  .burger__line:last-child {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__content {
    width: 75%;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .services__item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
    height: auto;
  }

  .services__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services__item:not(:nth-child(2n)) {
    margin-right: var(--gap);  }

    .blog_preview {
      height: 100%;
    }

  .joinus__form {
    padding: 0;
  }


  .footer__container {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: var(--gap);
  }

  .nav__item:not(:last-child) {
    margin-right: 52px;
}

.clients__item {
  padding: 20px;
}

}

@media (max-width: 768px) {

  .articles__link {
    flex-direction: column;
  }

  .blog_preview_image {
    width: 100%;
  }

  .clients__list {
    flex-direction: column;
  }

  .clients__item {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--gap);
    width: 100%;
  }

  .clients__item__descrp {
    margin:0;
    padding: var(--gap);
    width: 70%;
  }

  .clients__user {
    width: 30%;
    margin-top: 0;
    padding: 0 0 0 10px;
    border-top: none;
    border-left: 1px solid #DADADA;
  }

  .clients__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients__item:last-child {
    margin-bottom: 0;
  }

  .clients__avatar {
    width: 40%;
  }

  .clients__name {
    font-size: 90%;
  }

  .contacts__item__text {
    width: 100%;
  }

  .nav__item:not(:last-child) {
    margin-right: 15px;
  }


  .social__item:not(:last-child) {
    margin-right: 20%;
  }

  .footer__social {
    padding-right: 10px;
  }

}

@media (max-width: 576px) {

  .section-title {
    margin: 0;
    margin-bottom: 13px;
  }

  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 10px 21px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: none;
  }

  .container {
  padding: 0 15px 0 15px;
  }

  .section-offset {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
  margin: 0;
  margin-bottom: 15px;}

  .hero__descrp {
  margin: 0;
  margin-bottom: 15px; }

  .hero__btn {
  padding: 19px 78px;
  margin-bottom: 15px;
  }

  .services {
    margin-bottom: 60px;
  }

  .services__title {
  text-align: left;
  margin-bottom: 15px;
  }

  .section-descrp {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 22px;
  }

  .services__item {
    margin: 0;
    margin-bottom: 15px;
    padding: 21px 15px 15px 20px;
  }

  .services__item:nth-child(2n-1) {
    margin-right: 25px;
  }

  .services__item:last-child {
    margin-bottom: 0;
  }

  .services__item:nth-last-child(2){
    margin-bottom: 0;
  }


  .services__item__icon {
    width: 42px;
    height: 42px;
    margin-bottom: 15px;
  }

  .services__item__title {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 3px;}

  .services__item__descrp {
    font-size: 12px;
    line-height: 150%;
  }

  .articles-item {
    width: 100%;
  }

  .articles__link {
    flex-direction: row;
  }

  .blog_preview {
    width: 100%;
    height: 100%;
  }

  .blog_preview_image {
    width: 30%;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0;
}

.articles-item {
  margin-bottom: 14px;
}

.articles-item:last-child {
  margin-bottom: 17px;
}


.blog_preview_text {
padding: 30px 30px 30px 14px;}

.blog_preview_time {
margin-bottom: 2px;}

.blog_preview_title {
  margin-bottom: 4px;}

.articles-item:nth-child(3) .blog_preview_text {
 padding: 17px 30px 17px 14px;
}

section+.articles {
  margin-bottom: 60px;
}

.clients__item {
  flex-direction: column;
  margin-bottom: 15px;
}

.clients__item__descrp {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
}

.clients__user {
  width: 100%;
  margin-top: 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #DADADA;
  border-left: none;
}

.clients__avatar {
  width: 67px;
  height: 67px;}

 .clients__name {
  margin-bottom: 0;
  font-size: 17px;
  line-height: 180%;}


.clients__item:last-child {
  margin-bottom: 18px;
}

.clients {
  margin-bottom: 60px;
}

.contacts__list {
  flex-direction: column;
}

.contacts__item {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 42px;
}

.contacts__item:last-child {
  margin-bottom: 14px;
}

.contacts__item__captions
{
  margin-bottom: 10px;
}

.contacts__item__text {
  width: 80%;
}

.join-us {
  padding-top: 62px;
}

.joinus__title {
  text-align: left;
  margin-bottom: 15px;
}

.joinus__text {
  text-align: left;
  margin-bottom: 35px;
}

.form_top {
  justify-content: space-between;
  margin-bottom: 19px;
  flex-wrap: wrap;
}

.form_left {
  width: 100%;
}

.form-input {
  padding: 14px 19px;
  margin-bottom: 15px;
}

.form_left input:not(:nth-child(3n)) {
  margin-bottom: 15px;
}

.form_right {
  width: 100%;
  height: 240px;
}

.text-area {
 padding-top: 12px;
 padding-left: 19px;}

.form-wrapper {
  width: 100%;
}

.form_top {
  margin-bottom: 12px;
}

.joinus__btn {
margin-bottom: 15px;
padding: 20px 95px;}

.form-check {
  margin-bottom: 20px;
}


.footer__container {
  flex-direction: column-reverse;
}

.footer__right {
  flex-direction: column;
}

.footer__nav {
  margin-right: 0;
  margin-bottom: 15px;
}

.footer__nav .nav__list  {
  flex-wrap: wrap;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 15px;
}

.footer__right {
  margin-bottom: 28px;
  align-items: flex-start;}

.social__item:not(:last-child) {
 margin-right: 32px;}

 .footer-left {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
 }

 .footer {
  padding: 0;
  padding-top: 30px;
}

.footer-logo {
  width: 80px;
  height: 30px;
  margin-bottom: 30px;
}

.footer__copy {
  text-align: center;
  margin-right: 0;
  width: 100%;
  padding: 15px 59px;
}

.footer__copy::before {
  content: "";
  position: absolute;
  top: 60px;
  left: -15px;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #c4c4c4;
}

select {
  padding: ;
}

}

