html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"),
  url(/fonts/OpenSansRegular.woff2) format(woff2),
  url(/fonts/OpenSansRegular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Light"),
  url(/fonts/OpenSansLight.woff2) format(woff2),
  url(/fonts/OpenSansLight.woff) format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-SemiBold"),
  url(/fonts/OpenSansSemiBold.woff2) format(woff2),
  url(/fonts/OpenSansSemiBold.woff) format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none ;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin:0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descrp {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/*header*/
.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background: #fff;
}

.header-container {
  align-items: center;
}

.header-logo {
margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

.header-link {
font-weight: 600;
font-size: 15px;
color: #1C1C1C;
}

.home-link {
  color: #3172B9;
  border-bottom: 2px solid #3172B9;
}

.btn {
 padding: 15px 35px;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
background-color:#3172B9;
border-radius: 3px;
}

/*hero*/
.hero {
  padding-top:110px;
  padding-bottom: 150px;
  background-image: url(/img/hero-bg%201.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 300;
font-size: 40px;
line-height: 52px;
color: #1C1C1C;
}

.hero-descrp {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #787878;
}

.hero-btn {
  margin: 0;
  margin-bottom: 14px;
  min-width: 250px;
  padding: 19px 58px;
}

.hero-wrapper {
  flex-direction: column;
  align-items: center;

}

.hero-secure {
  font-weight: 400;
font-size: 11px;
line-height: 17px;
text-transform: uppercase;
color: #787878;
background-image: url(/img/hero-sspbg.svg);
background-repeat: no-repeat;
background-position: left center;
background-size: 14px 17px;
padding-left: 20px;
}

/*services*/

.services-title {
  text-align: center;
  font-weight: 300;
font-size: 36px;
line-height: 47px;
color: #1C1C1C;
}

.services-descrp {
  text-align: center;
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #787878;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  height: 320px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #1C1C1C;
}

.services-item-descrp {
  margin: 0;
  text-align: center;
  font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #787878;
}

.services {
  border-bottom: 1px solid #DADADA;;
}


/*articles*/
.articles {
  border-bottom: 1px solid #dadada;
}

.aricles-title {
  font-weight: 300;
font-size: 36px;
line-height: 130%;
color: #1C1C1C;
}

.articles-list{
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #E4E4E4;
border-radius: 5px;
}

.blog-preview-image {
  object-fit: cover;
  max-width: 170px;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
font-size: 20px;
line-height: 130%;
color: #1C1C1C;
}

.blog-preview-descrp {
margin: 0;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #787878;
max-width: 210px;
}

/*clients*/

.clients-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.clients {
  border-bottom: 1px solid #DADADA;;
}

.clients-item {
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  flex-direction: column;
  border: 1px solid #E4E4E4;
border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descrp {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
font-size: 14px;
line-height: 180%;
color: #787878;
}

.clients-user {
margin-top: auto;
align-items: center;
border-top : 1px solid #DADADA;
padding-top: 28px;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
font-size: 17px;
line-height: 180%;
color: #1C1C1C;
}

.clients-post {
  font-weight: 400;
font-size: 14px;
line-height: 180%;
color: #787878;
}

/*contacts*/
.contacts-titel
{
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.contacts {
  border-bottom: 1px solid #dadada;
}

.contact-address {
font-style: normal;
}

.contacts-item {
flex-direction: column;
width: 370px;
background-position: left top;
background-repeat: no-repeat;
background-size: 29px 29px;
padding-top: 49px;
}

.maps {
  background-image: url("/img/mapsicon.svg");
}

.phone {
  background-image: url("/img/phoneicon.svg");
}

.mail {
  background-image: url("/img/mailicon.svg");
}


.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-captions {
  margin-bottom: 30px;
  font-weight: 600;
font-size: 17px;
line-height: 180%;
color: #1C1C1C;

}

.contacts-item-text {
margin: 0;
width: 214px;
font-weight: 400;
font-size: 14px;
line-height: 180%;
color: #787878;
}

.contacts-item-link {
  font-weight: 400;
font-size: 14px;
line-height: 180%;
color: #787878;
}

/*join us*/

.join-us {
  border-bottom: 1px solid #E5E5E5;;
}

.joinus-title {
  margin: 0;
  font-weight: 300;
font-size: 36px;
line-height: 130%;
text-align: center;
color: #1C1C1C;
margin-bottom: 22px;
}

.joinus-text {
  margin: 0;
  font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #787878;
margin-bottom: 30px;
}

.form-input {
  border: 1px solid #DADADA;
border-radius: 50px;
padding: 15px 28px;
width: 251px;
height: 60px;
}

.form-select {
  box-sizing: border-box;
border: 1px solid #DADADA;
border-radius: 50px;
width: 251px;
height: 60px;
padding: 15px 28px;
}

.option-select {
  box-sizing: border-box;
box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
border-radius: 20px;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.text-area {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 28px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 100%;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-left input:not(:nth-child(3n))  {
  margin-bottom: 19px;
}

.form-right {
  width: 49%;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-foin-us {
  margin-bottom: 9px;
  border-radius: 50px;
  padding: 20px 67px;
}

.form-check{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.joinus-link {
  color: #3172B9;
  border-bottom: 1px solid #3172B9;
}

/*footer*/
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-right {
  align-items:center;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-nav {
  margin-right: 63px;
}

.footer-link {
  font-weight: 600;
font-size: 15px;
line-height: 20px;

color: #787878;
}



.social-item:not(:last-child) {
  margin-right: 32px;
}

.footer-copy {
  font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #787878;
}


.solcial-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.solcial-link:not(:last-child) {
  margin-right: 32px;
}

.link-twitter {
  background-image: url("/img/twitterlogo.svg");
}

.link-in {
  background-image: url("/img/linkedinlogo.svg");
}

.link-mail {
  background-image: url("/img/maillogo.svg");

}


